<div class="panel panel-primary">
  <div class="panel-heading">
    <h2>Lista de Pessoas</h2>
  </div>
  <div class="panel-body">
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Nome</th>
          <th>Sobrenome</th>
          <th>E-mail</th>
          <th>Ações</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let pessoa of pessoas | async">
          <td>{{pessoa.nome}}</td>
          <td>{{pessoa.sobrenome}}</td>
          <td>{{pessoa.email}}</td>
          <td>
            <button (click)="deletePessoa(pessoa.id)" class="btn btn-danger">Delete</button>
            <button (click)="pessoaDetails(pessoa.id)" class="btn btn-info" style="margin-left: 10px">Details</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
